<div class="container mt-4">
    <h2>Lista de Empleados</h2>
    <button class="btn btn-primary mb-2" routerLink="/add-employee">Agregar Nuevo Empleado</button>
    <div class="d-flex justify-content-between mb-3">
        <!-- <input type="text" class="form-control" placeholder="Buscar empleado..." [(ngModel)]="searchTerm" /> -->
        <input type="text" class="form-control" placeholder="Buscar empleado..." [formControl]="searchTerm" />
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre del Empleado</th>
                <th>Fecha de Ingreso</th>
                <th>Días Disponibles de Vacación</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of filteredEmployees">
                <td>{{ employee.name }} {{ employee.last_name }}</td>
                <td>{{ employee.entry_date | date }}</td>
                <td>{{ employee.vacation_days }}</td>
                <td [ngClass]="{ 'text-success font-weight-bold': employee.is_on_vacation }">{{ employee.is_on_vacation ? 'Vacación' : 'Trabajando' }}</td>
                <td>
                    <button class="btn btn-sm btn-info" title="Asignar vacación" (click)="assignVacation(employee)">
                        <i class="bi bi-calendar-event"></i>
                    </button>
                    <button class="btn btn-sm btn-warning mx-1" title="Editar empleado" (click)="editEmployee(employee)">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn btn-sm btn-danger" title="Eliminar empleado" (click)="deleteEmployee(employee)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
